<table class="table">
    <thead><tr><th scope="col">General Information</th></tr></thead>
    <tbody>
        <tr>
            <td>Submitter</td>
            <td>{{ field_trip.email }}</td>
        </tr>
        <tr>
            <td>Submitted</td>
            <td>{{ field_trip.submitted }}</td>
        </tr>
        <tr>
            <td>Destination</td>
            <td>{{ field_trip.destination }}</td>
        </tr>
        <tr>
            <td>Class / Group / Club</td>
            <td>{{ field_trip.group }}</td>
        </tr>
        <tr>
            <td>Date and Time of Departure</td>
            <td>{{ field_trip.departing }}</td>
        </tr>
        <tr>
            <td>Date and Time Returning to School</td>
            <td>{{ field_trip.returning }}</td>
        </tr>
        <tr>
            <td>Grades</td>
            <td>{{ field_trip.grades }}</td>
        </tr>
        <tr>
            <td>Building</td>
            <td>{{ field_trip.building }}</td>
        </tr>
        <tr>
            <td>Roster</td>
            <td>{{ field_trip.roster }}</td>
        </tr>
        <tr>
            <td>Itinerary</td>
            <td>{{ field_trip.itinerary }}</td>
        </tr>
        <tr>
            <td>Number of Pupils</td>
            <td>{{ field_trip.pupils }}</td>
        </tr>
        <tr>
            <td>Number of Teachers</td>
            <td>{{ field_trip.teachers }}</td>
        </tr>
        <tr>
            <td>Chaperones</td>
            <td>Placeholder</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>Placeholder</td>
        </tr>
    </tbody>
</table>
