<table class="table">
    <thead>
        <tr>
            <th scope="col">Response</th>
            <th scope="col">Comments</th>
            <th scope="col">Role</th>
            <th scope="col">Building</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
    {% for approval in field_trip.approval_set.all %}
        <tr>
            <th scope="row">
            {% if approval.approved == None %}
                Awaiting Response
            {% elif approval.approved %}
                Approved
            {% else %}
                Denied
            {% endif %}
            </th>
            <td>{{ approval.comments }}</td>
            <td>{{ approval.role }}</td>
            <td>{{ approval.building }}</td>
            <td>
                <a href="mailto:{{ approval.approver.email }}">
                    {{ approval.approver.name }}
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
