<div class="row">
    <div class="col-md">
        <span class="label">Discipline:</span>
        {{ field_trip.discipline }}
    </div>
    <div class="col-md">
        <span class="label">Unit(s) of Study / Curriculum Standards Addressed During Trip:</span>
        {{ field_trip.standards }}
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Description of Anticipatory Activity:</span>
        {{ field_trip.anticipatory }}
    </div>
    <div class="col-md">
        <span class="label">Description of Educational Value of Trip:</span>
        {{ field_trip.purpose }}
    </div>
</div>
