<div class="row">
    <div class="col-md">
        <span class="label">Status:</span>
        {{ field_trip.status }}
    </div>
    <div class="col-md">
        <span class="label">Total Attendees:</span>
        {{ field_trip.total }}
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Submitter:</span>
        <a href="mailto:{{ field_trip.submitter.email }}?subject=Field Trip #{{ field_trip.id }}">
            {{ field_trip.submitter.first_name }}
            {{ field_trip.submitter.last_name }}
        </a>
    </div>
    <div class="col-md">
        <span class="label">Submitted:</span>
        {{ field_trip.submitted }}
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Destination:</span>
        {{ field_trip.destination }}
    </div>
    <div class="col-md">
        <span class="label">Class / Group / Club:</span>
        {{ field_trip.group }}
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Date and Time of Departure:</span>
        {{ field_trip.departing }}
    </div>
    <div class="col-md">
        <span class="label">Date and Time Returning to School:</span>
        {{ field_trip.returning }}
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Grades:</span>
        {{ field_trip.grades.all|join:"," }}
    </div>
    <div class="col-md">
        <span class="label">Building:</span>
        {{ field_trip.building }}
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Itinerary:</span>
        {{ field_trip.itinerary }}
    </div>
    <div class="col-md">
        <span class="label">Roster:</span>
        <a href="{{ field_trip.roster.url }}">{{ field_trip.roster }}</a>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <span class="label">Number of Pupils:</span>
        {{ field_trip.pupils }}
    </div>
    <div class="col-md">
        <span class="label">Number of Teachers:</span>
        {{ field_trip.teachers }}
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <span class="label">Chaperones:</span>
    </div>
</div>
{% for chaperone in field_trip.chaperone_set.all %}
<div class="row">
    <div class="col-md">
        <span class="label">Name:</span>
        {{ chaperone.name }}
    </div>
    <div class="col-md">
        <span class="label">Phone Number:</span>
        {{ chaperone.phone_number }}
    </div>
</div>
{% endfor %}
