[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
django-widget-tweaks = "*"
django-allauth = "*"
gunicorn = "*"
"psycopg2" = "*"
python-dotenv = "*"
"boto3" = "*"
"django-url-tools-py3" = "*"
"django-s3-storage" = "*"


[dev-packages]

