[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
django-widget-tweaks = "*"
django-allauth = "*"
gunicorn = "*"
django-heroku = "*"
"psycopg2" = "*"
python-dotenv = "*"
django-storages = "*"
"boto3" = "*"
django-url-tools = "*"


[dev-packages]

