packages:
    yum:
        mod24_ssl : []
          
files:
    /etc/httpd/conf.d/ssl.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            LoadModule wsgi_module modules/mod_wsgi.so
            WSGIPythonHome /opt/python/run/baselinenv
            WSGISocketPrefix run/wsgi
            WSGIRestrictEmbedded On
            Listen 443
            <VirtualHost *:443>
                SSLEngine on
                SSLCertificateFile "/etc/pki/tls/certs/server.crt"
                SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
                            
                Alias /static/ /opt/python/current/app/static/
                <Directory /opt/python/current/app/static>
                    Order allow,deny
                    Allow from all
                </Directory>
                                                                    
                WSGIScriptAlias / /opt/python/current/app/forms_site/wsgi.py
                                                                 
                <Directory /opt/python/current/app>
                    Require all granted
                </Directory>

                WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
                    python-home=/opt/python/run/venv/ \
                    python-path=/opt/python/current/app user=wsgi group=wsgi \
                    home=/opt/python/current/app
                WSGIProcessGroup wsgi-ssl
            </VirtualHost>
                                                       
    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIENDCCAxwCCQDRDzqTAxpngjANBgkqhkiG9w0BAQsFADCB2zELMAkGA1UEBhMC
            VVMxCzAJBgNVBAgMAk5KMRgwFgYDVQQHDA9Nb25yb2UgVG93bnNoaXAxIDAeBgNV
            BAoMF01vbnJvZSBUb3duc2hpcCBTY2hvb2xzMR0wGwYDVQQLDBREZXZlbG9wZXIg
            T3BlcmF0aW9uczE2MDQGA1UEAwwtZm9ybXMtc2l0ZS1kZXYudXMtZWFzdC0xLmVs
            YXN0aWNiZWFuc3RhbGsuY29tMSwwKgYJKoZIhvcNAQkBFh1SeWFuLlRvbGJvb21A
            bW9ucm9lLmsxMi5uai51czAeFw0xODA3MDUxNzMxMjFaFw0xOTA3MDUxNzMxMjFa
            MIHbMQswCQYDVQQGEwJVUzELMAkGA1UECAwCTkoxGDAWBgNVBAcMD01vbnJvZSBU
            b3duc2hpcDEgMB4GA1UECgwXTW9ucm9lIFRvd25zaGlwIFNjaG9vbHMxHTAbBgNV
            BAsMFERldmVsb3BlciBPcGVyYXRpb25zMTYwNAYDVQQDDC1mb3Jtcy1zaXRlLWRl
            di51cy1lYXN0LTEuZWxhc3RpY2JlYW5zdGFsay5jb20xLDAqBgkqhkiG9w0BCQEW
            HVJ5YW4uVG9sYm9vbUBtb25yb2UuazEyLm5qLnVzMIIBIjANBgkqhkiG9w0BAQEF
            AAOCAQ8AMIIBCgKCAQEAq7YiUYcOjKSU5EkoQr1Fum2ET/vBnH1jURpe5roxAD+v
            egZNXZc0Lp53BUdRT/J8XeFjpQzUc9hKnPAj7qewT6Ditp2SXywP3hwVwVOHjAmq
            ymj+ihSKq135mBa7GZvfgU/GklC5ktXDsbJ56CmKhydT1aYWoI4sb0iNJdJsW+FJ
            s7g68tVC7sc+hoLyBKUQDTkPdrkDkoudaEhEzNvg1tE3t0M8sQdlyPopPDVJDXDL
            nybzGKlyeqh67OstB30vCJDMxktt//pxAcPtNlDmq9QzQoOozLuH/npPBefmUmAT
            qGK48cdoxLFeVwH31U265AqE4ZP3ej+38TcuGEKjGQIDAQABMA0GCSqGSIb3DQEB
            CwUAA4IBAQAFShlFqzoLUeowg/wCnMmS76f9HUqHsmsFbeugzY+RuJ3rLG//5aQa
            y9h12qZPcRjGb9HfovQMdBTNYx26Iuut7tXFz40q8F7H5fSC5UFlfbu3lvpAdv8n
            OtSibFhZG0Tbijfgeq1c5mwZosQX/QgTi9Sw1o4Sah/9Qb/Ax2+++0i5Eap93Ckd
            OAbCEv+lQaGJQWKlu/b3zQkqn+hJT/CML/vjhYN9ezphoYiFJBN4+DN2UL680wlJ
            RgsySZ2DLMG+BpZTwLb3hn8QGjiyOWnA72Z3J78Kpj1019C2DOGiMC09hABkRqKv
            Xg2TThkUIr3dYQK5ufsBvs6TvmixJyjF
            -----END CERTIFICATE-----

    "/etc/httpd/conf.d/ssl_rewrite.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            RewriteEngine On
            <If "%{HTTPS} != 'on'">
                RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
            </If>
                                                                   
container_commands:
    01killhttpd:
        command: "killall httpd"
    02waitforhttpddeath:
        command: "sleep 3"
