packages:
    yum:
        mod24_ssl : []
          
files:
    /etc/httpd/conf.d/ssl.conf:
        mode: "000644"
        owner: root
        group: root
        content: |
            LoadModule wsgi_module modules/mod_wsgi.so
            WSGIPythonHome /opt/python/run/baselinenv
            WSGISocketPrefix run/wsgi
            WSGIRestrictEmbedded On
            Listen 443
            <VirtualHost *:443>
                SSLEngine on
                SSLCertificateFile "/etc/pki/tls/certs/server.crt"
                SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
                            
                Alias /static/ /opt/python/current/app/static/
                <Directory /opt/python/current/app/static>
                    Order allow,deny
                    Allow from all
                </Directory>
                                                                    
                WSGIScriptAlias / /opt/python/current/app/forms_site/wsgi.py
                                                                 
                <Directory /opt/python/current/app>
                    Require all granted
                </Directory>

                WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
                    python-path=/opt/python/current/app:/opt/python/run/venv/lib/python3.4/site-packages:/opt/python/run/venv/lib64/python3.4/site-packages \
                    home=/opt/python/current/app \
                    user=wsgi \
                    group=wsgi
                WSGIProcessGroup wsgi-ssl
            </VirtualHost>
                                                       
    /etc/pki/tls/certs/server.crt:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN CERTIFICATE-----
            MIIENDCCAxwCCQDRDzqTAxpngjANBgkqhkiG9w0BAQsFADCB2zELMAkGA1UEBhMC
            VVMxCzAJBgNVBAgMAk5KMRgwFgYDVQQHDA9Nb25yb2UgVG93bnNoaXAxIDAeBgNV
            BAoMF01vbnJvZSBUb3duc2hpcCBTY2hvb2xzMR0wGwYDVQQLDBREZXZlbG9wZXIg
            T3BlcmF0aW9uczE2MDQGA1UEAwwtZm9ybXMtc2l0ZS1kZXYudXMtZWFzdC0xLmVs
            YXN0aWNiZWFuc3RhbGsuY29tMSwwKgYJKoZIhvcNAQkBFh1SeWFuLlRvbGJvb21A
            bW9ucm9lLmsxMi5uai51czAeFw0xODA3MDUxNzMxMjFaFw0xOTA3MDUxNzMxMjFa
            MIHbMQswCQYDVQQGEwJVUzELMAkGA1UECAwCTkoxGDAWBgNVBAcMD01vbnJvZSBU
            b3duc2hpcDEgMB4GA1UECgwXTW9ucm9lIFRvd25zaGlwIFNjaG9vbHMxHTAbBgNV
            BAsMFERldmVsb3BlciBPcGVyYXRpb25zMTYwNAYDVQQDDC1mb3Jtcy1zaXRlLWRl
            di51cy1lYXN0LTEuZWxhc3RpY2JlYW5zdGFsay5jb20xLDAqBgkqhkiG9w0BCQEW
            HVJ5YW4uVG9sYm9vbUBtb25yb2UuazEyLm5qLnVzMIIBIjANBgkqhkiG9w0BAQEF
            AAOCAQ8AMIIBCgKCAQEAq7YiUYcOjKSU5EkoQr1Fum2ET/vBnH1jURpe5roxAD+v
            egZNXZc0Lp53BUdRT/J8XeFjpQzUc9hKnPAj7qewT6Ditp2SXywP3hwVwVOHjAmq
            ymj+ihSKq135mBa7GZvfgU/GklC5ktXDsbJ56CmKhydT1aYWoI4sb0iNJdJsW+FJ
            s7g68tVC7sc+hoLyBKUQDTkPdrkDkoudaEhEzNvg1tE3t0M8sQdlyPopPDVJDXDL
            nybzGKlyeqh67OstB30vCJDMxktt//pxAcPtNlDmq9QzQoOozLuH/npPBefmUmAT
            qGK48cdoxLFeVwH31U265AqE4ZP3ej+38TcuGEKjGQIDAQABMA0GCSqGSIb3DQEB
            CwUAA4IBAQAFShlFqzoLUeowg/wCnMmS76f9HUqHsmsFbeugzY+RuJ3rLG//5aQa
            y9h12qZPcRjGb9HfovQMdBTNYx26Iuut7tXFz40q8F7H5fSC5UFlfbu3lvpAdv8n
            OtSibFhZG0Tbijfgeq1c5mwZosQX/QgTi9Sw1o4Sah/9Qb/Ax2+++0i5Eap93Ckd
            OAbCEv+lQaGJQWKlu/b3zQkqn+hJT/CML/vjhYN9ezphoYiFJBN4+DN2UL680wlJ
            RgsySZ2DLMG+BpZTwLb3hn8QGjiyOWnA72Z3J78Kpj1019C2DOGiMC09hABkRqKv
            Xg2TThkUIr3dYQK5ufsBvs6TvmixJyjF
            -----END CERTIFICATE-----
                          
    /etc/pki/tls/certs/server.key:
        mode: "000400"
        owner: root
        group: root
        content: |
            -----BEGIN RSA PRIVATE KEY-----
            MIIEpQIBAAKCAQEAq7YiUYcOjKSU5EkoQr1Fum2ET/vBnH1jURpe5roxAD+vegZN
            XZc0Lp53BUdRT/J8XeFjpQzUc9hKnPAj7qewT6Ditp2SXywP3hwVwVOHjAmqymj+
            ihSKq135mBa7GZvfgU/GklC5ktXDsbJ56CmKhydT1aYWoI4sb0iNJdJsW+FJs7g6
            8tVC7sc+hoLyBKUQDTkPdrkDkoudaEhEzNvg1tE3t0M8sQdlyPopPDVJDXDLnybz
            GKlyeqh67OstB30vCJDMxktt//pxAcPtNlDmq9QzQoOozLuH/npPBefmUmATqGK4
            8cdoxLFeVwH31U265AqE4ZP3ej+38TcuGEKjGQIDAQABAoIBAQCAO+nPNuxvri2f
            et79UHp1anpofRwvMRjtpaL/7kbP57+1gmVeoqAOvLsoDwWzjeTA+6S9yyISTZIT
            N+etwD+UiBMny+9W8gH7nr/EfAv7UfDhbp3BIuwYZHsU0MzzqAu3d4tVE8Iy3T9j
            QmV2MyfIHV+na3z0dJjMlsMKXuYbip9ZAu5ER8xztYbdXkRsqdWq45zi0tASY+yz
            Vw2eLt4ryG9vGRsvBTlXvVUl4OoqiDKxd9y2XiXsX+WX0bWnk9SOkx+Y+1JWIhFY
            TYWjyk7eEScMy/oqe4UF49sjfpWLjGcIZOWXZaOQRIFBZ4OY0Q4QCxvlYa6cKyvP
            6FHpwlsBAoGBANsgDsxMFRrZhmWLKUrXz8tLJHgozsZ4eJ7EaVBSqLWSlAcYs3wT
            CVN2IEhB78lQ5xIfLI7LJdG0pM1AXWZlKK+3ZMKoEHuUorfOlTvxnBXAjaPRKY5Y
            Re1WaDinLrF9UmmQTFky6sMlLA9f34sHSqMagJqvBBB5ueCejGsK7OphAoGBAMib
            fD5so3qOWgeg7w4U8ZXOrJe7IYbB+xsulkgXkdMqIqIWsyQYxy9tPwtAAVLMW8sz
            sUckIW7USMjxSC+Vhejs7Kzp9389W8upc5xdiT9IPmZnaepiL3b3VzQ8GTf1nS2K
            G+siMyPTsKwjWDCpb7436H6QvvzvQ1hMSk+iQiO5AoGAUEIZqXJkeIUb2K1z3lnV
            XhyTqv8nXUJay6wc9rKP4JFjboX5l4RRciReBpk//niHaffJFjQKEhkcE6FzlEGQ
            +WsumK19/AWg47nipyYDiWQRfOLrWZuzYQ649acmTxQbz1Zu4Gzp17gRvz/aXM26
            5KqcWAuqbW5oSoFH5R0HUYECgYEArS5VrwpYgxfbLxTG61A3Uw2tv/tjsRNLdSbd
            w/TdBgAtD+Mq2bGuWwojz9F8kv8rC5xfobvWRPhssVRi7flWNkQ6+fetmyHcWlC6
            JrY1IvV6MSt7q0UCFuDmXoi3eLDH9SVyfqXyoi5BKgoFO1U6y2s2gfTxfCgN6m9K
            A79e+7kCgYEAy7MabgBkJjunlXcFx/7roolvKy0q4aQGZLPGzWuaoJMIJt1kgFXP
            wBE8dHh2p6rpC0oi2uojv0UkVy/6W4oxdfN7SLG0fow6+HFmemS2/Sbz4i1lAnVr
            iiRL0HtE/8RUDZCiR1QDFFC/MpcBiH/U3/U0ShRl3rKo9NmMhTPfsmM=
            -----END RSA PRIVATE KEY-----
                                                                   
container_commands:
    01killhttpd:
        command: "killall httpd"
    02waitforhttpddeath:
        command: "sleep 3"
