{% extends "base.html" %}

{% load static %}
{% load calendar %}

{% block head %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'calendar.css' %}">
</link>

{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md"><h2 class="text-center mt-3">{{ title }}</h2></div>
</div>

{% get_calendar for month year as calendar %}
<div class="row">
    <div class="col-md">
        <div class="text-left">
            <a href="{{ calendar.previous_link}}">
                &lt;- {{ calendar.previous_title }}
            </a>
        </div>
    </div>
    <div class="col-md">
        <div class="text-center"><h4>{{ calendar.title }}</h4></div>
    </div>
    <div class="col-md">
        <div class="text-right">
          <a href="{{ calendar.next_link }}">
            {{ calendar.next_title }} -&gt;
          </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg">
        <table class="table table-bordered">
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            {% for week in calendar.calendar %}
            <tr class="calendar">
                {% for day in week %}
                <td>
                    {% if day %}
                    <div class="row">
                        <div class="col-sm">
                            <div class="day">
                                {{ day.day }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            {% for event in events %}
                                {% if event.date == day %}
                                    <div class="text-center">
                                        <a href="{{ event.link }}">
                                            {{ event.title }}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
