{% extends "base.html" %}

{% load static %}
{% load calendar %}

{% block head %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'field_trips/calendar.css' %}">
</link>

{% endblock %}


{% block content %}

{% get_calendar for month year as calendar %}
<div class="row">
    <div class="col-md">
        <div class="previous">
            <a href="{{ previous_link}}">&lt;- {{ previous_title }}</a>
        </div>
    </div>
    <div class="col-md"><h2 class="title">{{ title }}</h2></div>
    <div class="col-md">
        <div class="next">
          <a href="{{ next_link}}">{{ next_title }} -&gt;</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg">
        <table class="table table-bordered">
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
            {% for week in calendar %}
            <tr class="calendar">
                {% for day in week %}
                <td>
                    <div class="row">
                        <div class="col-sm">
                            <div class="day">
                                {{ day.day }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            {% for event in events %}
                                {% if event.date.date == day %}
                                    <div class="event">{{ event.title }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
