{% extends "field_trips/base.html" %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "field_trips/create.css" %}"></link>
    <!-- this lets us dynamically add chaperones -->
    <script src="{% static "field_trips/jquery.formset.js" %}"></script>
    <script src="{% static "field_trips/field_trips.js" %}"></script>
{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col-sm">
        <h2 class="text-center mt-3">Field Trip Request</h2>
    </div>
</div>
<div class="row">
    {{ form.non_field_errors }}
</div>
<form enctype="multipart/form-data" action="{% url 'field_trips:create' %}" method="post">
    {% csrf_token %}

    <!-- General Info -->
    <div class="card">
        <div class="card-header">General Information</div>
        <div class="card-body">
            {% include "field_trips/general.html" %}
        </div>
    </div>

    <!-- Transportation -->
    <div class="card">
        <div class="card-header">Transportation</div>
        <div class="card-body">
            {% include "field_trips/transportation.html" %}      
        </div>
    </div>

    <!-- Funding -->
    <div class="card">
        <div class="card-header">Funding</div>
        <div class="card-body">
            {% include "field_trips/funding.html" %}
        </div>
    </div>

    <!-- Curricular Tie Ins -->
    <div class="card">
        <div class="card-header">Curricular Tie Ins</div>
        <div class="card-body">
            {% include "field_trips/curriculum.html" %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
