<div class="row">
    <div class="col-lg">
        {{ form.standards.errors }}
        {{ form.standards.label_tag }}
        <small class="form-text text-muted">{{ form.standards.help_text }}</small>
        {{ form.standards }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg">
        {{ form.anticipatory.errors }}
        {{ form.anticipatory.label_tag }}
        <small class="form-text text-muted">{{ form.anticipatory.help_text }}</small>
        {{ form.anticipatory }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg">
        {{ form.purpose.errors }}
        {{ form.purpose.label_tag }}
        <small class="form-text text-muted">{{ form.purpose.help_text }}</small>
        {{ form.purpose }}
    </div>
</div>
