<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <a href="?order_by=id">ID</a>
            </th>
            <th scope="col">
                <a href="?order_by=destination">Destination</a>
            </th>
            <th scope="col">
                <a href="?order_by=departing">Departing</a>
            </th>
            <th scope="col">
                <a href="?order_by=submitted">Submitted</a>
            </th>
            <th scope="col">
                <a href="?order_by=status">Status</a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for field_trip in field_trips %}
            <tr>
                <td>
                    <a href="{% url next_view field_trip.id %}">
                        {{ field_trip.id }}
                    </a>
                </td>
                <td>{{ field_trip.destination }}</td>
                <td>{{ field_trip.departing }}</td>
                <td>{{ field_trip.submitted }}</td>
                <td>{{ field_trip.status }}</td>
            </tr>
            </a>
        {% endfor %}
    </tbody>
</table>
