{% extends "base.html" %}

{% load static %}

{% block head %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static 'field_trips/cards.css' %}">
</link>

{% endblock %}

{% block content %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
</div>
{% endif %}

<form action="{% url 'field_trips:approve' field_trip.id %}" method="post">
{% csrf_token %}

<div class="row">
    <div class="col-sm">
        <h2 class="text-center mt-3">
            Nurse Approval of Field Trip #{{ field_trip.id }}
        </h2>
    </div>
</div>

<!-- Directions -->
<div class="card">
    <div class="card-header">Directions</div>
    <div class="card-body">
Please look over the following field trip information and determine if a nurse is required. You can click on the roster to download a student list. If you know which nurse will be attending or you have any comments, feel free to fill in those fields. If the form does not contain enough information please DENY it and write your reasoning in the comments.
    </div>
</div>

<!-- General Info -->
<div class="card">
    <div class="card-header">General Information</div>
    <div class="card-body">
        {% include "field_trips/details/general.html" %}
    </div>
</div>

<!-- Nurse -->
<div class="card">
    <div class="card-header">Nurse</div>
    <div class="card-body">
        {% include "field_trips/create/nurse.html" %}
    </div>
</div>

<!-- Approval -->
<div class="card">
    <div class="card-header">Approval</div>
    <div class="card-body">
        {% include "field_trips/create/approval.html" with form=approval_form %}
    </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>

{% endblock %}
