{% load widget_tweaks %}

{{ formset.management_form }}

<table class="table">
    <thead>
        <tr>
            <th>Chaperone Name:</th>
            <th>Phone Number:</th>
        </tr>
    </thead>
    <tbody>
        {% for form in formset %}
            <tr class="chaperones">
                {% include "field_trips/forms/table_data.html" with field=form.name %}
                {% include "field_trips/forms/table_data.html" with field=form.phone_number %}
            </tr>
        {% endfor %}
    </tbody>
</table>
