{{ chaperones.management_form }}

<table class="table">
    <thead>
        <tr>
            <th>Chaperone Name:</th>
            <th>Phone Number:</th>
        </tr>
    </thead>
    <tbody>
        {% for chaperone in chaperones %}
            <tr class="chaperones">
                {% include "field_trips/forms/table_data.html" with field=chaperone.name %}
                {% include "field_trips/forms/table_data.html" with field=chaperone.phone_number %}
            </tr>
        {% endfor %}
    </tbody>
</table>
