<div class="row">
    <div class="col-lg">
        {% include "field_trips/forms/form_group.html" with field=form.supervisor %}
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg">
        {% include "field_trips/forms/form_group.html" with field=form.standards %}
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg">
        {% include "field_trips/forms/form_group.html" with field=form.anticipatory %}
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg">
        {% include "field_trips/forms/form_group.html" with field=form.purpose %}
    </div>
</div>
