{% load field_trips %}

<div class="row">
    <div class="col-md">
        {% include "field_trips/forms/form_group.html" with field=form.destination %}
    </div>
    <div class="col-md">
        {% include "field_trips/forms/form_group.html" with field=form.group %}
    </div>
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.pupils %}
    </div>
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.teachers %}
    </div>
</div>

<div class="row">
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.building %}
    </div>
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.departing %}
        <small id="departing_warning" class="bg-warning"></small>
        <a href={% url 'field_trips:calendar' %} target="_blank">
            <small class="form-text text-muted">
                Click here to check the calendar for conflicting trips
            </small>
        </a>
    </div>
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.returning %}
    </div>
</div>

<div class="row">
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.grades %}
    </div>
    <div class="col-md">
        {% include "field_trips/forms/form_group.html" with field=form.roster %}
        <a href="http://youtube.com" target="_blank">
            <small class="form-text text-muted">
                Click here to learn how to create rosters in Genesis.
            </small>
        </a>
    </div>
</div>

<div class="row">
    {% include "field_trips/forms/chaperones.html" %}
</div>

<div class="row">
    <div class="col-sm">
        {% include "field_trips/forms/form_group.html" with field=form.itinerary %}
    </div>
</div>

<script>
    fieldTripDates = {% field_trip_dates %}.map(x=>new Date(x).setHours(0,0,0));
    departing = $("#id_departing");
    departing.datetimepicker({
        minDateTime: new Date("{{ admin_option.window_start.isoformat }}"),
        maxDateTime: new Date("{{ admin_option.window_end.isoformat }}"),
        controlType: 'select',
        onLine: true,
        timeFormat: 'hh:mm tt'
    });
    departing.change(function(myEvent) {
        dateToCheck = new Date(departing.val()).setHours(0, 0, 0);
        conflicts = fieldTripDates.reduce(function(total, fieldTripDate) {
            if (dateToCheck == fieldTripDate) {
                return total += 1;
            } else {
                return total;
            }
        }, 0);
        if (conflicts > 0) {
            $("#departing_warning").text("There is/are " + conflicts +
                " other field trip(s) on this date. Nurses/Buses may not be " +
                "available");
        }
    });
</script>
